<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Book Index</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div th:each="book : ${books}" class="mb-3">
        <a th:href="@{/books/{id}(id=${book.bookId})}" class="btn btn-info">
            <p th:text="${book.name + ', ' + book.author + ', ' + book.year}"></p>
        </a>
    </div>

    <hr/>

    <div class="text-center">
        <a class="btn btn-primary" th:href="@{/books/new}">Add New Book</a>
        <a class="btn btn-primary" th:href="@{/}">Go to Main Page</a>
        <a class="btn btn-secondary" th:href="@{/people}">Go to People page</a>
    </div>
</div>

<!-- Bootstrap JS and dependencies (jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
