<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>List of Books</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>List of Books</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Year</th>
            <th>Borrower</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Use Thymeleaf to iterate over books -->
        <tr th:each="book : ${books}">
            <td th:text="${book.bookId}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.year}"></td>
            <td th:text="${book.borrower != null ? book.borrower.name + ' ' + book.borrower.surname : 'Not Assigned'}"></td>
            <td>
                <a th:href="@{/books/{id}(id=${book.bookId})}">View</a> |
                <a th:href="@{/books/{id}/edit(id=${book.bookId})}">Edit</a> |
                <a th:href="@{/books/{id}/delete(id=${book.bookId})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/books/new">Add New Book</a>

    <!-- Button to redirect to the main page -->
    <a class="btn btn-secondary" href="/">Go to Main Page</a>
    <a class="btn btn-secondary" href="/people">Go to People page</a>
</div>

<!-- Bootstrap JS and dependencies (jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

